*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;  
}

.navbar_netflix {
    width: 125px;
    height: 100%;
}

.navbar_nav_items {
    display: flex;
    gap: 10px;
}

.netflix_logo {
    width: 100%;
    height: 100%;
}

.language_drop_down{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.dropdown_container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
}

.signin_btn{
    border: #ffffff;
    background-color: #f11717;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.hero_bg_img_container {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.hero_bg_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_bg_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero_card {
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_title{
    font-size: 5rem;
    font-weight: 600;
    font-family: "Monotonic";
}

.hero_subtitle,
.hero_description {
    font-size: 2rem;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.email{
    width: 450px;
    height: 60px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    border-color: #ffffff;
}

.get_started{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #f11717;
    border: 1px solid #dc030f;
    cursor: pointer;
    color: #ffffff;
}

.card_1,
.card_2,
.card_3{
    border: 8px solid #7d7d7c;
    padding: 50px;
}

.card_1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 65% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 50px 50px;
}

.desc_1 {
    padding-left: 90px;
}

.card_1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: -1;
    /* object-fit: cover; */
    /* overflow-clip-margin: content-box; */
}
.card_1 img{
    grid-column: 2/3;
    grid-row: 1/2;
}

.style_cards h1{
    font-size: 5rem;
    padding: 1rem;
    padding-left: 90px;
}
.style_cards h3{
    font-size: 1.9rem;
    line-height: 2rem;
    padding-left: 90px;
}
.card_2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 45% 55%;
    text-align: left;
    align-items: center;
    padding: 25px 40px 50px;
    /* z-index: -1;
    overflow-clip-margin: content-box; */
}
.desc_2{
    padding-left: 0%;
}


.card_3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 55% 40%;
    text-align: left;
    align-items: center;
    padding: 35px 50px 50px;
}

.desc_3{
    padding-left: 40px;
    padding-right: 60px;
}

.card_3 img{
    width: 90%;
    grid-column: 2/3;
    grid-row: 1/3;
}

.card_3 video{
    position: relative;
    width: 90%;
    height: 54%;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: -1;
    /* object-fit: cover; */
    /* overflow-clip-margin: content-box; */
}
.question-items{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 100%;
    border: 8px solid #7d7d7c;
    padding: 50px;
}

span{
    font-size: 5rem;
    font-weight: 600;
    padding-left: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    cursor: pointer;
}

.question_1{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}
.question_1:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.question_2{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}
.question_2:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.question_3{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}
.question_3:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.question_4{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}

.question_4:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.question_5{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}

.question_5:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.question_6{
    width: 100%;
    padding: 40px 50px 20px 50px;
    border: 4px solid #ffffff;
    background-color: #414040;
    color: #ffffff;
}

.question_6:hover{
    background-color: #f11717;
    color: #000000;
    border: 2px solid #000000;
}
.footer{
    color: white;
    padding: 5rem 9rem;
}
.footer,
.footer a {
    color: #c5c3c3;
    font-size: 2rem;
}

.footer p {
    margin-bottom: 1.5rem;
    padding-left: 50px;
    font-size: 3rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding-left: 50px;
}

.footer li {
    line-height: 1.9;
}

.footer_item{
    display: flex;
    gap: 10px;
    padding: 30px;
    font-size: 1.5rem;
}
.footer_logo{
    width: 100%;
    height: 100px;
    padding: 1px 0px;
    
}
